# MongoDB Atlas Connection String
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/aauekpoma?retryWrites=true&w=majority
MONGODB_URI=

# Gemini API Key (Handled by platform, but needed for local dev)
NEXT_PUBLIC_GEMINI_API_KEY=
